{
    "app": {
        "debug": true,
        "host": "127.0.0.1:3000",
        "locale": "id|en",
        "key": "batman"
    },
    "db": {
        "psql_dsn": "postgres://username:password@hostname:5432/db_name?sslmode=disable",
        "redis": {
            "addr": "localhost:6379",
            "password": "",
            "default_db": 0
        }
    },
    "queue": {
        "rabbitmq": {
            "host": "amqp://guest:guest@localhost:5672"
        }
    },
    "log": {
        "default": "file",
        "file": {
            "source": "storages/logs/errors"
        },
        "sentry": {
            "source": ""
        }
    },
    "upload_path": "./storages/uploads", 
    "aws": {
        "s3": {
            "key": "",
            "secret": "",
            "region": "",
            "bucket": "",
            "public_url": "",
            "filepath": ""
        }
    },
    "resource_path": "/resources/templates",
    "mail":{
        "drive": "smtp",
        "host": "smtp.gmail.com",
        "port": 587,
        "username": "",
        "password": "",
        "ecryption": "tls",
        "mail_from": "",
        "mail_name": ""
    },
    "web_url": "",
    "new_relic": {
        "relic_name": "",
        "license_key": ""
    },
    "olsera_pos": [
        {
            "enable_redeem_once": 1,
            "app_id": "",
            "secret_key": ""
        }
    ],
    "xendit": {
        "api_key": "",
        "available_channel":["BCA", "QRIS"],
        "callback_token": "",
        "unavailable_channel":["CREDIT_CARD"],
        "success_url": "",
        "failure_url": ""
    },
     "onesignal":{
        "app_id":"",
        "app_key":""
    },
}
